@inherits ManagementConsole.Layouts.MainLayoutComponent

@using Radzen
@using Radzen.Blazor
@using ManagementConsole.Pages
<RadzenDialog />
<RadzenNotification />
<RadzenTooltip />
<RadzenContextMenu />

<RadzenLayout>
  <ChildContent>
    <RadzenHeader>
      <ChildContent>
        <div class="row justify-content-start align-items-center">
          <div class="col-6 d-flex align-items-center">
            <RadzenSidebarToggle Click="@SidebarToggle0Click">
            </RadzenSidebarToggle>
            <RadzenLabel Text="ManagementConsole">
            </RadzenLabel>
          </div>
        </div>
      </ChildContent>
    </RadzenHeader>
    <RadzenBody @ref="body0">
      <ChildContent>
        <RadzenContentContainer Name="main">
        @Body
        </RadzenContentContainer>
      </ChildContent>
    </RadzenBody>
    <RadzenSidebar @ref="sidebar0">
      <ChildContent>
        <RadzenPanelMenu style="height: 100%">
          <ChildContent>
            <RadzenPanelMenuItem Path="home" Text="Home">
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="UserSearch">
              <ChildContent>
                <RadzenPanelMenuItem Text="Summalize">
                </RadzenPanelMenuItem>
              </ChildContent>
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Target="_blank" Text="Monitoring">
              <ChildContent>
                <RadzenPanelMenuItem Text="Grafana">
                </RadzenPanelMenuItem>
              </ChildContent>
            </RadzenPanelMenuItem>
          </ChildContent>
        </RadzenPanelMenu>
      </ChildContent>
    </RadzenSidebar>
    <RadzenFooter>
      <ChildContent>
        <RadzenLabel Text="ManagementConsole, Copyright Ⓒ 2022">
        </RadzenLabel>
      </ChildContent>
    </RadzenFooter>
  </ChildContent>
</RadzenLayout>
