# config file version
apiVersion: 1
apiVersion: 1

datasources:
- name: Prometheus
  type: prometheus
  orgId: 1
  url: http://prometheus:9090
  basicAuth: false
  isDefault: true
  version: 1
  editable: false